.container {
    max-width:  960px;
    margin: 0 auto;
}

.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

/* grid sempre dentro de um container no html */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    margin-left: 10px;
    margin-right: 10px;
    float: left; /* um apos o outro */
    display: block;/* retirar linha e trnsforma num bloco */
    min-height: 1px; /* se a classe nao tem conteudo vai aparecer o espaço */
}


/* 100% /12grids = 8.333% */
/* 8.333 +8.333 ou 8.333 * posiçaõ grid */
.grid-1 { width: calc(8.333% - 20px);} /* 100/12*1 */
.grid-2 {width: calc(16.666% - 20px);} /* 100/12*2 */
.grid-3 {width: calc(25% - 20px);} /* 100/12*3 */
.grid-4 {width: calc(33.333% - 20px);} /* 100/12*4 */
.grid-5 {width: calc(41.666% - 20px);}
.grid-6 {width: calc(50% - 20px);}
.grid-7 {width: calc(58.333% - 20px);}
.grid-8 {width: calc(66.666% - 20px);}
.grid-9 {width: calc(75% - 20px);}
.grid-10 {width: calc(83.333% - 20px);}
.grid-11 {width: calc(91.666% - 20px);}
.grid-12 {width: calc(100% - 20px);}

/* total grid - gatter total da margem nesse caso margin-left e margin-rigth somam 20px */

/* como esta em porcentagem nao preciso mudar a responsividade do tablet, apenas o do mobile */

@media (max-width: 739px) { /* mobile */
    .container {
        max-width: 300px;
    }
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        float: none; 
    }
}